<!DOCTYPE html>
<html lang="pt">
 <head>
  <meta charset="utf-8">
  <title>Projeto prático</title>
  </head>
  <body>

    <%- include('../../partials/header');-%>
    
 

<main>
  <%- include('../../partials/menu');-%>

  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/planos/form" class="border-shadow">
                <span class="text-gradient">Novo Registo <i class="fas fa-user"></i></span>
            </a>
        </div>

        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Plano de treino</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Data de início</th>
                    <th scope="col">Data de fim</th>
                    <th scope="col" class="text-center">Ações</th>
                  </tr>
                </thead>
                <tbody>
    
                  <% dados.forEach((dados) => { %>
                    <tr>
                      <th scope="row"><%= dados.plano_id %></th>
                      <td><%= dados.plano_nome %></td>
                      <td><%= dados.nome %></td>
                      <% const datainicial = new Date(dados.planos_datai).toLocaleString()%>
                      <% const datafinal = new Date(dados.planos_dataf).toLocaleString()%>
                      <% const planos_datai = datainicial.split(',')[0]%>
                      <% const planos_dataf = datafinal.split(',')[0]%>
                      <td><%= planos_datai%></td>
                      <td><%= planos_dataf%></td>
                      <td class="text-center">
                        <a
                          class="edit"
                          title=""
                          data-toggle="tooltip"
                          data-original-title="Visualizar"
                          href="http://localhost:5000/planos/visualizar/<%- dados.plano_id %>_<%- dados.id_user %>"
                          ><i class="fas fa-eye" style="color: black"></i></a>
                          <a
                          class="edit"
                          title=""
                          data-toggle="tooltip"
                          data-original-title="Editar"
                          href="http://localhost:5000/planos/edit/<%- dados.plano_id %>_<%- dados.id_user %>"
                          ><i class="fas fa-pencil-alt" style="color: black"></i></a>
                          <a
                          class="edit"
                          title=""
                          data-toggle="tooltip"
                          data-original-title="Apagar"
                          href="http://localhost:5000/planos/apagar/<%- dados.plano_id %>"
                          ><i class="fas fa-trash-alt" style="color: black"></i></a>
                      </td>
                    </tr>
                   <% }); %>
                </tbody>
      
      
            </table>
        </form>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

</body>

</html>