<!DOCTYPE html>
<html lang="pt">
 <head>
  <meta charset="utf-8">
  <title>Projeto prático</title>
  </head>
  <body>

    <%- include('../../partials/header');-%>
    
  </body>

<main>
  <%- include('../../partials/menu');-%>

  <main id="site-main">
    <div class="container">


        <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Morada</th>
                    <th scope="col">Contacto</th>
                    <th scope="col" class="text-center">Ações</th>
                  </tr>
                </thead>
                <tbody>
    
                  <% dados.forEach((dados) => { %>
                    <tr>
                      <th scope="row"><%= dados.utilizador_id %></th>
                      <td><%= dados.nome %></td>
                      <td><%= dados.username %></td>
                      <td><%= dados.password %></td>
                      <td><%= dados.cargo %></td>
                      <td><%= dados.morada %></td>
                      <td><%= dados.contato %></td>
                      <td class="text-center">
                        <a
                          class="edit"
                          title=""
                          data-toggle="tooltip"
                          data-original-title="Editar"
                          href="http://localhost:5000/editar/<%- dados.utilizador_id %>"
                          ><i class="fas fa-pencil-alt" style="color: black"></i></a
                        >&nbsp;&nbsp;
                        <a
                          class="delete"
                          title=""
                          data-toggle="tooltip"
                          data-original-title="Apagar"
                          href="http://localhost:5000/apagar/<%- dados.utilizador_id %>"
                          ><i class="fas fa-trash-alt" style="color: black"></i
                        ></a>
                      </td>
                    </tr>
                   <% }); %>
                </tbody>
      
            </table>
        </form>
    </div>
</main>



</main>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

</body>

</html>